.footer {
  background-color: #000;
}

.footer-intro {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 120px;
  padding-bottom: 120px;
}

.footer-intro h2 {
  color: #cccccc;
  font-size: 1.5rem;
  max-width: 30%;
  position: relative;
}

@media (max-width: 950px) {
  .footer-intro h2{
    font-size: 1.20rem;
  }
}

@media (max-width: 470px) {
  .footer-intro h2{
    font-size: 1rem;
  }
}

.footer-intro h2::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  top: -188px;
  background-image: url("../img/detalhe.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

@media (max-width: 950px) {
  .footer-intro h2::before {
    left: 100%;
  }
}

.footer-intro-con h1 {
  font-size: 2.25rem;
  color: #ffffff;
  font-weight: bold;
  
}

@media (max-width:950px){
  .footer-intro-con h1{
    font-size: 1.65rem;
    line-height: 1.3;
  }
}

@media (max-width:470px){
  .footer-intro-con h1{
    font-size: 1.25rem;
    line-height: 1.3;
  }
}

.footer-copyright p {
  color: #8f8f8f;
  font-size: 1.125rem;
  text-align: center;
  padding-bottom: 60px;
}
