body {
  max-width: 1480px;
  margin: auto;
}

h1,
h2,
h3,
p,
a,
ul,
li,
span {
  margin: 0px;
  padding: 0px;
  font-family: "fira sans";
  font-weight: normal;
  font-size: 1rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

main {
  margin: 0px;
}