header {
  margin: 40px 20px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

#header-nav-home {
  display: inline-block;
  width: fit-content;
}

.header-nav-menu {
  display: flex;
  gap: 15px;
}

.header-nav-menu a{
  color: #141414;
  text-transform: capitalize;
  padding: 10px 20px;
}

.header-intro {
  display: flex;
  gap: 50px;
  max-width: 100%;
  align-items: center;
}

.header-intro-profile {
  max-width: 30%;
  
}

.header-intro-text {
  position: relative;
  z-index: 1;
}

.header-intro-text::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  top: -15px;
  left:-30px;
  background-image: url("../img/detalhe.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}

.header-intro-text h1{
  font-size: 4rem;
  margin-bottom: 30px;
  color: #141414;
}

.header-intro-text h2{
  font-size: 1.5rem;
  font-weight: normal;
  color: #525252;
}