.main-edu {
  display: flex;
  background-color: #141414;
  padding: 60px 140px 120px 140px;
  justify-content: space-between;
}

@media (max-width: 950px) {
  .main-edu {
    padding: 60px 110px 120px 110px;
  }
}

.main-edu-title h1 {
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}

@media (max-width: 1300px) {
  .main-edu-title h1 {
    font-size: 6rem;
  }
}

@media (max-width: 1100px) {
  .main-edu-title h1 {
    font-size: 5rem;
  }
}

@media (max-width: 950px) {
  .main-edu-title h1 {
    font-size: 4rem;
  }
}

@media (max-width: 950px) {
  .main-edu-title h1 {
    display: none;
  }
}

.main-edu-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 60%;
}

@media (max-width: 950px) {
  .main-edu-info {
    margin: auto;
    max-width: 100%;
  }
}

.main-edu-info-1 {
  margin-bottom: 50px;
  max-width: 80%;
}

@media (max-width: 1000px) {
  .main-edu-info-1 {
    margin-bottom: 25px;
  }
}

@media (max-width: 950px) {
  .main-edu-info-1 {
    max-width: 100%;
  }
}

.main-edu-info-1 {
  margin-bottom: 50px;
  max-width: 80%;
}

@media (max-width: 1200px) {
  .main-edu-info-1 {
    max-width: 100%;
    margin-bottom: 10px;
  }
}

.main-edu-info-1 h2 {
  font-size: 1.5rem;
  text-align: left;
  color: #767676;
}

@media (max-width: 1200px) {
  .main-edu-info-1 h2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 950px) {
  .main-edu-info-1 h2 {
    font-size: 1.25rem;
    text-align: justify;
  }
}

.main-edu-info-1 strong {
  color: white;
}

.main-edu-info-2-container h2 {
  position: relative;
}

.main-edu-info-2-description h2::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(180deg, #b6f829, #67dd0a);
  width: 4px;
  height: 100%;
  left: -24px;
}

.main-edu-info-2-parent-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

@media (max-width: 950px) {
  .main-edu-info-2-parent-container {
    justify-content: space-evenly;
  }
}

#bachelor,
#technical,
#masters {
  background-color: #080808;
  border-radius: 5px;
  padding: 20px 20px 40px;
  flex-grow: 1;
}

@media (max-width: 760px) {
  #bachelor,
  #technical,
  #masters {
    flex-grow: 0;
  }
}

.main-edu-info-2-description h2 {
  font-size: 1.125rem;
  font-weight: bold;
  color: white;
}

.main-edu-info-2-description p {
  color: #525252;
  margin-bottom: 20px;
}

#school {
  margin-top: auto;
  margin-bottom: -20px;
}

.main-edu-info-3 {
  margin-top: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.main-edu-info-3 p::before {
  display: block;
  position: absolute;
  content: "";
  background-image: url(../img/cursos.svg);
  width: 24px;
  height: 24px;
  left: -36px;
  top: -3px;
}

.main-edu-info-3 p {
  color: #8f8f8f;
  font-weight: bold;
  padding-bottom: 10px;
}

.main-edu-info-3 h2 {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.main-edu-info-3 span {
  color: #8f8f8f;
  display: inline-block;
}

.main-edu-info-4 {
  margin-top: 25px;
  position: relative;
}

.main-edu-info-4 p::before {
  display: block;
  position: absolute;
  content: "";
  background-image: url(../img/idiomas.svg);
  width: 24px;
  height: 24px;
  left: -36px;
  top: -3px;
}

.main-edu-info-4 p {
  color: #8f8f8f;
  font-weight: bold;
  padding-bottom: 10px;
}

.main-edu-info-4 h2 {
  color: #ffffff;
  margin: 15px 0px;
}

.main-edu-info-4 span {
  color: #8f8f8f;
}
