.main-edu {
  padding-top: 60px;
  display: flex;
  background-color: #141414;
  padding-bottom: 120px;
  padding-left: 140px;
  padding-right: 140px;
}

.main-edu-title h1 {
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
  padding-right: 130px;
}

.main-edu-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-edu-info-1 {
  margin-bottom: 50px;
  max-width: 80%;
}

.main-edu-info-1 h2 {
  font-size: 1.5rem;
  text-align: left;
  color: #767676;
}

.main-edu-info-1 strong {
  color: white;
}

.main-edu-info-2-parent-container {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.main-edu-info-2-container h2 {
  position: relative;
}

.main-edu-info-2-description h2::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(180deg, #b6f829, #67dd0a);
  width: 4px;
  height: 100%;
  left: -24px;
}

#bachelor,
#technical,
#masters {
  display: flex;
  background-color: #080808;
  border-radius: 5px;
  padding: 20px;
  width: 150px;
  height: 150px;
}

.main-edu-info-2-description {
  display: flex;
  flex-direction: column;
}

.main-edu-info-2-description h2 {
  font-size: 1.125rem;
  font-weight: bold;
  color: white;
}

.main-edu-info-2-description p {
  text-align: left;
  color: #525252;
  margin-bottom: 20px;
}

#school {
  margin-top: auto;
  margin-bottom: -20px;
  padding-bottom: 20px;
}

.main-edu-info-3 {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.main-edu-info-3 p::before {
  display: block;
  position: absolute;
  content: "";
  background-image: url(../img/cursos.svg);
  width: 24px;
  height: 24px;
  left: -36px;
  top: -3px;
}

.main-edu-info-3 p {
  color: #8f8f8f;
  font-weight: bold;
  padding-bottom: 10px;
}

.main-edu-info-3 h2 {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.main-edu-info-3 span {
  color: #8f8f8f;
}

.main-edu-info-4 {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.main-edu-info-4 p::before {
  display: block;
  position: absolute;
  content: "";
  background-image: url(../img/idiomas.svg);
  width: 24px;
  height: 24px;
  left: -36px;
  top: -3px;
}

.main-edu-info-4 p {
  color: #8f8f8f;
  font-weight: bold;
  padding-bottom: 10px;
}

.main-edu-info-4 h2 {
  color: #ffffff;
}

.main-edu-info-4 span {
  color: #8f8f8f;
}
