.main-exp {
  display: flex;
  gap: 150px;
}

.main-exp-title {
  margin-left: 10px;
}

.main-exp-title h1 {
  font-size: 9rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #e0e0e0;
}

.main-exp-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 30px;
}

.main-exp-info-1 {
  margin-bottom: 50px;
}

.main-exp-info-1 h2 {
  font-size: 1.5rem;
  text-align: left;
  color: #525252;
}

#bikcraft {
  display: flex;
  background-color: #f5f5f5;
  border-radius: 5px;
  gap: 90px;
  padding: 20px;
}

#surfbot {
  display: flex;
  background-color: #f5f5f5;
  border-radius: 5px;
  gap: 90px;
  padding: 20px;
}

#brafe {
  display: flex;
  background-color: #f5f5f5;
  border-radius: 5px;
  gap: 90px;
  padding: 20px;
}

.main-exp-info-2-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
}

.main-exp-info-2-description h2 {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.main-exp-info-2-description p {
  text-align: left;
  color: #525252;
}

.main-exp-info-2-tags h2 {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  justify-content: center;
}
.main-exp-info-2-tags ul {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.main-exp-info-2-tags li {
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
}
